[build]
builder = "nixpacks"
buildCommand = "npm run build"

[deploy]
preDeployCommand = "npm run payload migrate"
startCommand = "next start"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3

[[services]]
name = "web"
